.page{
position: relative;
margin-left: auto;
margin-right: auto;
background-color: lightgrey;
width: 500;
height: 1000;
}

.navbar {
  background-color: #212F3D;
  width: 500;
  height: 50;
}

.btn {
  background-color: #F4D03F;
  color: white;
  padding: 16px;
  margin-left: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.menu {
  position: relative;
  display: inline-block;
}

.content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  margin-left: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.content a {
  color: black;
  padding: 12px 16px;
  font-family: Verdana;
  font-size: 16px;
  text-decoration: none;
  display: block;
}

.content a:hover {background-color: #f1f1f1}

.menu:hover .content {
  display: block;
}

.menu:hover .btn {
  background-color: #F1C40F;
}
